Solucion Hostel/CapaWSPresentacion/Service References/WSSoap/CapaObjeto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaObjeto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaObjeto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Sesion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Retorno" nillable="true" type="tns:Respuesta" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sesion" nillable="true" type="tns:Sesion" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Glosa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
  <xs:complexType name="PerfilCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodPais" type="xs:decimal" />
      <xs:element minOccurs="0" name="CodPostal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comuna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailPersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Giro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCiudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:decimal" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Retorno" nillable="true" type="tns:Respuesta" />
      <xs:element minOccurs="0" name="RutEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RutPersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoEmpresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelofonoPersona" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilCliente" nillable="true" type="tns:PerfilCliente" />
</xs:schema>