Solucion Hostel/CapaWSPresentacion/Service References/WSSoap/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSSHostel" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CapaObjeto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSSHostel_ValidarLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarLogin" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ValidarLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ValidarToken_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarToken" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ValidarToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_PerfilUsuarioClienteCrear_InputMessage">
    <wsdl:part name="parameters" element="tns:PerfilUsuarioClienteCrear" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_PerfilUsuarioClienteCrear_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerfilUsuarioClienteCrearResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_PerfilUsuarioProveedorCrear_InputMessage">
    <wsdl:part name="parameters" element="tns:PerfilUsuarioProveedorCrear" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_PerfilUsuarioProveedorCrear_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerfilUsuarioProveedorCrearResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ProductoCrear_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoCrear" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ProductoCrear_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoCrearResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ProductoActualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoActualizar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ProductoActualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ProductoEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoEliminar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ProductoEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ProductoRescatar_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductoRescatar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ProductoRescatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductoRescatarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ServicioComidaRescatar_InputMessage">
    <wsdl:part name="parameters" element="tns:ServicioComidaRescatar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_ServicioComidaRescatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServicioComidaRescatarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_PlatoCrear_InputMessage">
    <wsdl:part name="parameters" element="tns:PlatoCrear" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_PlatoCrear_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlatoCrearResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_PlatoActualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:PlatoActualizar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_PlatoActualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlatoActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_PlatoEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:PlatoEliminar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_PlatoEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlatoEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_PlatoRescatar_InputMessage">
    <wsdl:part name="parameters" element="tns:PlatoRescatar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_PlatoRescatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlatoRescatarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_HabitacionCrear_InputMessage">
    <wsdl:part name="parameters" element="tns:HabitacionCrear" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_HabitacionCrear_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabitacionCrearResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_HabitacionActualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:HabitacionActualizar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_HabitacionActualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabitacionActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_HabitacionEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:HabitacionEliminar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_HabitacionEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabitacionEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_HabitacionRescatar_InputMessage">
    <wsdl:part name="parameters" element="tns:HabitacionRescatar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_HabitacionRescatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:HabitacionRescatarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_CiudadRescatar_InputMessage">
    <wsdl:part name="parameters" element="tns:CiudadRescatar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_CiudadRescatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CiudadRescatarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_CamaCrear_InputMessage">
    <wsdl:part name="parameters" element="tns:CamaCrear" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_CamaCrear_OutputMessage">
    <wsdl:part name="parameters" element="tns:CamaCrearResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_CamaActualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:CamaActualizar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_CamaActualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CamaActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_CamaEliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:CamaEliminar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_CamaEliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CamaEliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_CamaRescatar_InputMessage">
    <wsdl:part name="parameters" element="tns:CamaRescatar" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_CamaRescatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CamaRescatarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_OrdenCompraCompletaCrear_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdenCompraCompletaCrear" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_OrdenCompraCompletaCrear_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdenCompraCompletaCrearResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_OrdenPedidoCompletaCrear_InputMessage">
    <wsdl:part name="parameters" element="tns:OrdenPedidoCompletaCrear" />
  </wsdl:message>
  <wsdl:message name="IWSSHostel_OrdenPedidoCompletaCrear_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrdenPedidoCompletaCrearResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSSHostel">
    <wsdl:operation name="ValidarLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/ValidarLogin" message="tns:IWSSHostel_ValidarLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/ValidarLoginResponse" message="tns:IWSSHostel_ValidarLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/ValidarToken" message="tns:IWSSHostel_ValidarToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/ValidarTokenResponse" message="tns:IWSSHostel_ValidarToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerfilUsuarioClienteCrear">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/PerfilUsuarioClienteCrear" message="tns:IWSSHostel_PerfilUsuarioClienteCrear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/PerfilUsuarioClienteCrearResponse" message="tns:IWSSHostel_PerfilUsuarioClienteCrear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerfilUsuarioProveedorCrear">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/PerfilUsuarioProveedorCrear" message="tns:IWSSHostel_PerfilUsuarioProveedorCrear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/PerfilUsuarioProveedorCrearResponse" message="tns:IWSSHostel_PerfilUsuarioProveedorCrear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoCrear">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/ProductoCrear" message="tns:IWSSHostel_ProductoCrear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/ProductoCrearResponse" message="tns:IWSSHostel_ProductoCrear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoActualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/ProductoActualizar" message="tns:IWSSHostel_ProductoActualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/ProductoActualizarResponse" message="tns:IWSSHostel_ProductoActualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/ProductoEliminar" message="tns:IWSSHostel_ProductoEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/ProductoEliminarResponse" message="tns:IWSSHostel_ProductoEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductoRescatar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/ProductoRescatar" message="tns:IWSSHostel_ProductoRescatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/ProductoRescatarResponse" message="tns:IWSSHostel_ProductoRescatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServicioComidaRescatar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/ServicioComidaRescatar" message="tns:IWSSHostel_ServicioComidaRescatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/ServicioComidaRescatarResponse" message="tns:IWSSHostel_ServicioComidaRescatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlatoCrear">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/PlatoCrear" message="tns:IWSSHostel_PlatoCrear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/PlatoCrearResponse" message="tns:IWSSHostel_PlatoCrear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlatoActualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/PlatoActualizar" message="tns:IWSSHostel_PlatoActualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/PlatoActualizarResponse" message="tns:IWSSHostel_PlatoActualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlatoEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/PlatoEliminar" message="tns:IWSSHostel_PlatoEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/PlatoEliminarResponse" message="tns:IWSSHostel_PlatoEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlatoRescatar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/PlatoRescatar" message="tns:IWSSHostel_PlatoRescatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/PlatoRescatarResponse" message="tns:IWSSHostel_PlatoRescatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabitacionCrear">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/HabitacionCrear" message="tns:IWSSHostel_HabitacionCrear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/HabitacionCrearResponse" message="tns:IWSSHostel_HabitacionCrear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabitacionActualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/HabitacionActualizar" message="tns:IWSSHostel_HabitacionActualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/HabitacionActualizarResponse" message="tns:IWSSHostel_HabitacionActualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabitacionEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/HabitacionEliminar" message="tns:IWSSHostel_HabitacionEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/HabitacionEliminarResponse" message="tns:IWSSHostel_HabitacionEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HabitacionRescatar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/HabitacionRescatar" message="tns:IWSSHostel_HabitacionRescatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/HabitacionRescatarResponse" message="tns:IWSSHostel_HabitacionRescatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CiudadRescatar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/CiudadRescatar" message="tns:IWSSHostel_CiudadRescatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/CiudadRescatarResponse" message="tns:IWSSHostel_CiudadRescatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CamaCrear">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/CamaCrear" message="tns:IWSSHostel_CamaCrear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/CamaCrearResponse" message="tns:IWSSHostel_CamaCrear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CamaActualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/CamaActualizar" message="tns:IWSSHostel_CamaActualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/CamaActualizarResponse" message="tns:IWSSHostel_CamaActualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CamaEliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/CamaEliminar" message="tns:IWSSHostel_CamaEliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/CamaEliminarResponse" message="tns:IWSSHostel_CamaEliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CamaRescatar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/CamaRescatar" message="tns:IWSSHostel_CamaRescatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/CamaRescatarResponse" message="tns:IWSSHostel_CamaRescatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdenCompraCompletaCrear">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/OrdenCompraCompletaCrear" message="tns:IWSSHostel_OrdenCompraCompletaCrear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/OrdenCompraCompletaCrearResponse" message="tns:IWSSHostel_OrdenCompraCompletaCrear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrdenPedidoCompletaCrear">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSHostel/OrdenPedidoCompletaCrear" message="tns:IWSSHostel_OrdenPedidoCompletaCrear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSHostel/OrdenPedidoCompletaCrearResponse" message="tns:IWSSHostel_OrdenPedidoCompletaCrear_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSSHostel" type="tns:IWSSHostel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarLogin">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/ValidarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarToken">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/ValidarToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerfilUsuarioClienteCrear">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/PerfilUsuarioClienteCrear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerfilUsuarioProveedorCrear">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/PerfilUsuarioProveedorCrear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoCrear">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/ProductoCrear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoActualizar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/ProductoActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoEliminar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/ProductoEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductoRescatar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/ProductoRescatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServicioComidaRescatar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/ServicioComidaRescatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlatoCrear">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/PlatoCrear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlatoActualizar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/PlatoActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlatoEliminar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/PlatoEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlatoRescatar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/PlatoRescatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabitacionCrear">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/HabitacionCrear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabitacionActualizar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/HabitacionActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabitacionEliminar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/HabitacionEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HabitacionRescatar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/HabitacionRescatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CiudadRescatar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/CiudadRescatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CamaCrear">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/CamaCrear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CamaActualizar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/CamaActualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CamaEliminar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/CamaEliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CamaRescatar">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/CamaRescatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrdenCompraCompletaCrear">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/OrdenCompraCompletaCrear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrdenPedidoCompletaCrear">
      <soap:operation soapAction="http://tempuri.org/IWSSHostel/OrdenPedidoCompletaCrear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSHostel">
    <wsdl:port name="BasicHttpBinding_IWSSHostel" binding="tns:BasicHttpBinding_IWSSHostel">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CapaServicio/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>