Solucion Hostel/CapaWSPresentacion/Service References/WSSoap/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CapaObjeto" />
  <xs:element name="ValidarLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="ValidarLoginResult" nillable="true" type="q1:Sesion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilUsuarioClienteCrear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="entrada" nillable="true" type="q2:ContenedorPerfilUsuarioCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilUsuarioClienteCrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="PerfilUsuarioClienteCrearResult" nillable="true" type="q3:ContenedorPerfilUsuarioCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilUsuarioProveedorCrear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="entrada" nillable="true" type="q4:ContenedorPerfilUsuarioProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerfilUsuarioProveedorCrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="PerfilUsuarioProveedorCrearResult" nillable="true" type="q5:ContenedorPerfilUsuarioProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoCrear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="entrada" nillable="true" type="q6:ContenedorProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoCrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="ProductoCrearResult" nillable="true" type="q7:ContenedorProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="entrada" nillable="true" type="q8:ContenedorProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="ProductoActualizarResult" nillable="true" type="q9:ContenedorProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="entrada" nillable="true" type="q10:ContenedorProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="ProductoEliminarResult" nillable="true" type="q11:ContenedorProducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoRescatar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductoRescatarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="ProductoRescatarResult" nillable="true" type="q12:ContenedorProductos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioComidaRescatar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicioComidaRescatarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="ServicioComidaRescatarResult" nillable="true" type="q13:ContenedorServiciosComida" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlatoCrear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="entrada" nillable="true" type="q14:ContenedorPlato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlatoCrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="PlatoCrearResult" nillable="true" type="q15:ContenedorPlato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlatoActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="entrada" nillable="true" type="q16:ContenedorPlato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlatoActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="PlatoActualizarResult" nillable="true" type="q17:ContenedorPlato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlatoEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="entrada" nillable="true" type="q18:ContenedorPlato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlatoEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="PlatoEliminarResult" nillable="true" type="q19:ContenedorPlato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlatoRescatar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlatoRescatarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="PlatoRescatarResult" nillable="true" type="q20:ContenedorPlatos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabitacionCrear">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="entrada" nillable="true" type="q21:ContenedorHabitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabitacionCrearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="HabitacionCrearResult" nillable="true" type="q22:ContenedorHabitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabitacionActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="entrada" nillable="true" type="q23:ContenedorHabitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabitacionActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="HabitacionActualizarResult" nillable="true" type="q24:ContenedorHabitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabitacionEliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="entrada" nillable="true" type="q25:ContenedorHabitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabitacionEliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="HabitacionEliminarResult" nillable="true" type="q26:ContenedorHabitacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabitacionRescatar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HabitacionRescatarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="HabitacionRescatarResult" nillable="true" type="q27:ContenedorHabitaciones" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CiudadRescatar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CiudadRescatarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CapaObjeto" minOccurs="0" name="CiudadRescatarResult" nillable="true" type="q28:ContenedorCiudades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>